@media(max-width:800px) {
    html {
        font-size: 80%;
    }

    h2 .ja {
        padding: 10px 30px;
    }

    .mainvisual-left img,
    .mainvisual-right img {
        display: flex;
        height: calc(80vh - 80px);
        object-fit: cover;
    }

    .mainvisual p {
        font-size: 24px;
        width: 250px;
        top: 8%;
        left: 3%;
    }

    nav ul {
        flex-direction: column;
        align-items: center;
        padding-top: 80px;
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        opacity: 0;
        left: 0;
        transform: translateY(-500px);
        background-color: darkgray;
        transition: .5s;
    }

    nav ul li {
        margin-bottom: 24px;
    }

    .click nav ul {
        transform: translateY(0);
        opacity: 1;
        transition: .5s;
    }

    .fadein-nav ul li a {
        font-size: 24px;
    }

    .toggle-btn {
        display: block;
    }

    .strengths-contents {
        display: flex;
        flex-direction: column;
    }

    .strengths-item {
        width: 80%;
        margin: 0 auto;
    }

    .contents {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        margin-top: 120px;
    }

    .contents-txt {
        width: 90%;
        margin-top: 32px;
    }

    .contents-img {
        width: 80%;
    }

    .small {
        top: -20%;
        left: -10%;
    }

    .contents-reveres {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        margin-top: 120px;
    }

    .reveres-txt {
        width: 90%;
        margin-top: 32px;
    }

    .contents-reveres .contents-img .reveres-small {
        width: 60%;
        position: absolute;
        top: -20%;
        right: -10%;
    }

    .product-imgs li {
        margin-left: 20px;
        margin-right: 20px;
    }

    footer .container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        gap: 24px;
        margin-bottom: 90px;
    }

}

@media (max-width:500px) {
    .user {
        font-size: 1rem;
    }
    .inquiry-list:last-child dt {
        padding-block: 0;
    }
    .send {
        font-size: 1rem;
    }
}

@media (max-width:450px) {
    .item-title {
        font-size: 28px;
        letter-spacing: 8px;
    }
}
